{
  "openapi": "3.0.0",
  "info": {
    "title": "Pharmadata API",
    "version": "1.0",
    "description": "Geneerinen API Pharmadatan käyttöön"
  },
  "servers": [
    {
      "url": "https://api2.medifon.fi/api/pd",
      "description": "Pharmadatan API"
    }
  ],
  "paths": {
    "/{cardcode}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "cardcode",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Customer",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "operationId": "get-customers-cardcode",
        "description": "Palauttaa tiedot asiakkuudesta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cardcode": {
                    "type": "string",
                    "description": "Medifonin asiakasnumero"
                  },
                  "cardname": {
                    "type": "string",
                    "description": "Asiakkaan nimi"
                  },
                  "": {
                    "type": "array",
                    "description": "Asiakkaaseen liittyvät asiakkuudet",
                    "items": {
                      "type": "object",
                      "properties": {
                        "cardcode": {
                          "type": "string",
                          "description": "Asiakasnumero"
                        },
                        "cardname": {
                          "type": "string",
                          "description": "Asiakkaan nimi"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "cardcode",
                  "cardname",
                  ""
                ]
              }
            }
          },
          "description": ""
        },
        "parameters": []
      }
    },
    "/{cardcode}/orders": {
      "get": {
        "summary": "List Orders",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                },
                "examples": {
                  "example": {}
                }
              }
            }
          }
        },
        "operationId": "get-orders",
        "description": "Palauttaa asiakkaan tilaukset",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-01-01"
            },
            "in": "query",
            "name": "afterDate",
            "description": "Vain annettua päiväystä uudemmat tilaukset"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "onlyBackOrders",
            "description": "Vain jälkitilaukset"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "onlyOpenOrders",
            "description": "Vain avoimet tilaukset"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Orders"
        ]
      },
      "post": {
        "summary": "Create Order",
        "operationId": "post-orders",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cardcode": {
                      "type": "string",
                      "description": "Medifonin asiakasnumero"
                    },
                    "cardname": {
                      "type": "string",
                      "description": "Asiakkaan nimi"
                    },
                    "lictradnum": {
                      "type": "string",
                      "description": "VAT-tunnus"
                    },
                    "reference": {
                      "type": "string",
                      "description": "Tilausviite"
                    },
                    "createdate": {
                      "type": "string",
                      "description": "Tilauksen luomispäivä",
                      "format": "date-time"
                    },
                    "docdate": {
                      "type": "string",
                      "description": "Tilauspäivä",
                      "format": "date-time"
                    },
                    "duedate": {
                      "type": "string",
                      "description": "Toimituspäivä",
                      "format": "date-time"
                    },
                    "deliverywithnextorder": {
                      "type": "boolean",
                      "description": "Toimitetaanko tilaus seuraavan tilauksen yhteydessä"
                    },
                    "status": {
                      "type": "string",
                      "description": "Tilauksen tila"
                    },
                    "orderrows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "itemcode": {
                            "type": "string",
                            "description": "Medifonin tuotenumero"
                          },
                          "description": {
                            "type": "string",
                            "description": "Tuotteen kuvaus"
                          },
                          "quantity": {
                            "type": "integer",
                            "description": "Tilausmäärä"
                          },
                          "pricebefdi": {
                            "type": "number",
                            "description": "Alentamaton kappalehinta"
                          },
                          "discountpercent": {
                            "type": "number",
                            "description": "Alennus%"
                          },
                          "price": {
                            "type": "number",
                            "description": "Alennettu kappalehinta"
                          },
                          "status": {
                            "type": "string",
                            "description": "Tilausrivin tila"
                          },
                          "errorinfo": {
                            "type": "string",
                            "description": "Jos tilausivi on virheellinen palauttaa virheen"
                          }
                        },
                        "required": [
                          "itemcode",
                          "description",
                          "quantity",
                          "pricebefdi",
                          "discountpercent",
                          "price",
                          "errorinfo"
                        ]
                      }
                    }
                  },
                  "required": [
                    "cardcode",
                    "cardname",
                    "lictradnum",
                    "reference",
                    "createdate",
                    "docdate",
                    "deliverywithnextorder",
                    "orderrows"
                  ]
                },
                "examples": {}
              }
            }
          }
        },
        "description": "Luo asiakkaalle tilauksen",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./OrderRequest.v1.json"
              },
              "examples": {
                "example-1": {}
              }
            }
          }
        },
        "tags": [
          "Orders"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "cardcode",
          "in": "path",
          "required": true
        }
      ]
    },
    "/{cardcode}/itemavailability": {
      "get": {
        "summary": "Get ItemAvailability",
        "tags": [
          "Items"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "itemcode": {
                            "type": "string"
                          },
                          "itemname": {
                            "type": "string"
                          },
                          "onhand": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example": {}
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Item.v1.json"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "description": ""
          }
        },
        "operationId": "get-itemavailability",
        "description": "Tuotteiden saatavuus",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "onlyOutOfStock=true"
            },
            "in": "query",
            "name": "onlyOutOfStockItems",
            "description": "Jos true niin palauttaa vain tuotteet joita ei varastossa"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "itemcode": {
                      "type": "string"
                    }
                  }
                }
              },
              "examples": {
                "example": {
                  "value": [
                    {
                      "itemcode": "000451"
                    },
                    {
                      "itemcode": "9274097"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "cardcode",
          "in": "path",
          "required": true
        }
      ]
    },
    "/{cardcode}/shipments": {
      "get": {
        "summary": "List Shipments",
        "tags": [
          "Shipments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Customer": {
                      "type": "object",
                      "properties": {
                        "": {
                          "type": "string"
                        }
                      }
                    },
                    "ShipToCustomer": {
                      "type": "object"
                    },
                    "ShipmentPackages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "SSCC": {
                            "type": "string"
                          },
                          "PackageType": {
                            "type": "string"
                          },
                          "PackageLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "itemcode": {
                                  "type": "string"
                                },
                                "vnr": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "deliveredquantity": {
                                  "type": "number"
                                },
                                "orderedquantity": {
                                  "type": "number"
                                },
                                "batchnumber": {
                                  "type": "string"
                                },
                                "unitprice": {
                                  "type": "number"
                                },
                                "unitnetprice": {
                                  "type": "number"
                                },
                                "discountpercentage": {
                                  "type": "number"
                                },
                                "ordernumber": {
                                  "type": "string"
                                },
                                "orderreference": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-shipments",
        "description": "Lähetykset asiakkaalle"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "cardcode",
          "in": "path",
          "required": true
        }
      ]
    },
    "/{cardcode}/orders/{docnum}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "cardcode",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "docnum",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Order",
        "tags": [
          "Orders"
        ],
        "responses": {},
        "operationId": "get-customer-cardcode-orders-docnum",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              },
              "examples": {
                "example-1": {}
              }
            }
          }
        },
        "description": "Palauttaa asiakkaan yksittäisen tilauksen"
      }
    },
    "/{cardcode}/itemavailability/array": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "cardcode",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "List ItemAvailability By ItemArray",
        "tags": [],
        "responses": {},
        "operationId": "get-cardcode-itemavailability-array",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}