{
  "openapi": "3.0.0",
  "info": {
    "title": "Pharmadata API",
    "version": "1.0",
    "description": "Geneerinen API Pharmadatan käyttöön"
  },
  "servers": [
    {
      "url": "https://api2.medifon.fi/api/pd",
      "description": "Pharmadatan API"
    }
  ],
  "paths": {
    "/{cardcode}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "cardcode",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "/{cardcode} - GET",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "operationId": "get-customers-cardcode",
        "description": "Palauttaa tiedot asiakkuudesta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cardcode": {
                    "type": "string",
                    "description": "Medifonin asiakasnumero"
                  },
                  "cardname": {
                    "type": "string",
                    "description": "Asiakkaan nimi"
                  },
                  "": {
                    "type": "array",
                    "description": "Asiakkaaseen liittyvät asiakkuudet",
                    "items": {
                      "type": "object",
                      "properties": {
                        "cardcode": {
                          "type": "string",
                          "description": "Asiakasnumero"
                        },
                        "cardname": {
                          "type": "string",
                          "description": "Asiakkaan nimi"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "cardcode",
                  "cardname",
                  ""
                ]
              }
            }
          },
          "description": ""
        },
        "parameters": []
      }
    },
    "/{cardcode}/orders": {
      "get": {
        "summary": "/{cardcode}/orders - GET",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                },
                "examples": {
                  "example": {}
                }
              }
            }
          }
        },
        "operationId": "get-orders",
        "description": "Palauttaa asiakkaan tilaukset",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-01-01"
            },
            "in": "query",
            "name": "afterDate",
            "description": "Vain annettua päiväystä uudemmat tilaukset"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "summary": "/{cardcode}/orders - POST",
        "operationId": "post-orders",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cardcode": {
                      "type": "string",
                      "description": "Medifonin asiakasnumero"
                    },
                    "cardname": {
                      "type": "string",
                      "description": "Asiakkaan nimi"
                    },
                    "lictradnum": {
                      "type": "string",
                      "description": "VAT-tunnus"
                    },
                    "reference": {
                      "type": "string",
                      "description": "Tilausviite"
                    },
                    "createdate": {
                      "type": "string",
                      "description": "Tilauksen luomispäivä",
                      "format": "date-time"
                    },
                    "docdate": {
                      "type": "string",
                      "description": "Tilauspäivä",
                      "format": "date-time"
                    },
                    "duedate": {
                      "type": "string",
                      "description": "Toimituspäivä",
                      "format": "date-time"
                    },
                    "deliverywithnextorder": {
                      "type": "boolean",
                      "description": "Toimitetaanko tilaus seuraavan tilauksen yhteydessä"
                    },
                    "status": {
                      "type": "string",
                      "description": "Tilauksen tila"
                    },
                    "orderrows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "itemcode": {
                            "type": "string",
                            "description": "Medifonin tuotenumero"
                          },
                          "description": {
                            "type": "string",
                            "description": "Tuotteen kuvaus"
                          },
                          "quantity": {
                            "type": "integer",
                            "description": "Tilausmäärä"
                          },
                          "pricebefdi": {
                            "type": "number",
                            "description": "Alentamaton kappalehinta"
                          },
                          "discountpercent": {
                            "type": "number",
                            "description": "Alennus%"
                          },
                          "price": {
                            "type": "number",
                            "description": "Alennettu kappalehinta"
                          },
                          "status": {
                            "type": "string",
                            "description": "Tilausrivin tila"
                          },
                          "errorinfo": {
                            "type": "string",
                            "description": "Jos tilausivi on virheellinen palauttaa virheen"
                          }
                        },
                        "required": [
                          "itemcode",
                          "description",
                          "quantity",
                          "pricebefdi",
                          "discountpercent",
                          "price",
                          "errorinfo"
                        ]
                      }
                    }
                  },
                  "required": [
                    "cardcode",
                    "cardname",
                    "lictradnum",
                    "reference",
                    "createdate",
                    "docdate",
                    "deliverywithnextorder",
                    "orderrows"
                  ]
                },
                "examples": {}
              }
            }
          }
        },
        "description": "Luo asiakkaalle tilauksen",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cardcode": {
                    "type": "string",
                    "description": "Medifonin asiakasnumero"
                  },
                  "cardname": {
                    "type": "string",
                    "description": "Asiakkaan nimi"
                  },
                  "reference": {
                    "type": "string",
                    "description": "Tilausviite"
                  },
                  "duedate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Toimituspäivä. "
                  },
                  "deliverywithnextorder": {
                    "type": "boolean",
                    "description": "Toimitetaanko tilaus seuraavan tilauksen yhteydessä"
                  },
                  "orderrows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemcode": {
                          "type": "string",
                          "description": "Medifonin tuotenumero"
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "Tilattava määrä"
                        }
                      },
                      "required": [
                        "itemcode",
                        "quantity"
                      ]
                    }
                  }
                },
                "required": [
                  "cardcode",
                  "cardname"
                ]
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "cardcode",
          "in": "path",
          "required": true
        }
      ]
    },
    "/{cardcode}/itemavailability": {
      "get": {
        "summary": "/{cardcode}/itemavailability - GET",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "itemcode": {
                            "type": "string"
                          },
                          "itemname": {
                            "type": "string"
                          },
                          "onhand": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example": {}
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Item"
                  }
                }
              }
            },
            "description": ""
          }
        },
        "operationId": "get-itemavailability",
        "description": "Tuotteiden saatavuus",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "onlyOutOfStock=true"
            },
            "in": "query",
            "name": "onlyOutOfStockItems",
            "description": "Jos true niin palauttaa vain tuotteet joita ei varastossa"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "itemcode": {
                      "type": "string"
                    }
                  }
                }
              },
              "examples": {
                "example": {
                  "value": [
                    {
                      "itemcode": "000451"
                    },
                    {
                      "itemcode": "9274097"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "cardcode",
          "in": "path",
          "required": true
        }
      ]
    },
    "/{cardcode}/shipments": {
      "get": {
        "summary": "/{cardcode}/shipments - GET",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Customer": {
                      "type": "object",
                      "properties": {
                        "": {
                          "type": "string"
                        }
                      }
                    },
                    "ShipToCustomer": {
                      "type": "object"
                    },
                    "ShipmentPackages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "SSCC": {
                            "type": "string"
                          },
                          "PackageType": {
                            "type": "string"
                          },
                          "PackageLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "itemcode": {
                                  "type": "string"
                                },
                                "vnr": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "deliveredquantity": {
                                  "type": "number"
                                },
                                "orderedquantity": {
                                  "type": "number"
                                },
                                "batchnumber": {
                                  "type": "string"
                                },
                                "unitprice": {
                                  "type": "number"
                                },
                                "unitnetprice": {
                                  "type": "number"
                                },
                                "discountpercentage": {
                                  "type": "number"
                                },
                                "ordernumber": {
                                  "type": "string"
                                },
                                "orderreference": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-shipments",
        "description": "Lähetykset asiakkaalle"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "cardcode",
          "in": "path",
          "required": true
        }
      ]
    },
    "/{cardcode}/orders/{docnum}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "cardcode",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "docnum",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "/{cardcode}/orders/{docnum} - GET",
        "tags": [],
        "responses": {},
        "operationId": "get-customer-cardcode-orders-docnum",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              },
              "examples": {
                "example-1": {}
              }
            }
          }
        },
        "description": "Palauttaa asiakkaan yksittäisen tilauksen"
      }
    }
  },
  "components": {
    "schemas": {
      "Order": {
        "title": "Order",
        "type": "object",
        "x-examples": {
          "example": {
            "docnum": "",
            "cardcode": "",
            "cardname": "",
            "vatnumber": "",
            "createdate": "",
            "docdate": "",
            "docduedate": "",
            "reference": "",
            "docstatus": "O",
            "isbackorder": false,
            "orderrows": []
          }
        },
        "properties": {
          "docnum": {
            "type": "string",
            "description": "Tilausnumero"
          },
          "cardcode": {
            "type": "string",
            "description": "asiakasnumero",
            "maxLength": 15
          },
          "cardname": {
            "type": "string",
            "description": "asiakkaan nimi",
            "maxLength": 100
          },
          "vatnumber": {
            "type": "string",
            "description": "VAT-tunnus",
            "maxLength": 32
          },
          "createdate": {
            "type": "string",
            "format": "date-time",
            "description": "tilauksen luontiaika"
          },
          "docdate": {
            "type": "string",
            "format": "date-time",
            "description": "tilauspäivä"
          },
          "docduedate": {
            "type": "string",
            "format": "date-time",
            "description": "tilauksen toimituspäivä"
          },
          "reference": {
            "type": "string",
            "description": "tilausviite"
          },
          "docstatus": {
            "type": "string",
            "description": "tilauksen tila (avoin/suljettu)",
            "enum": [
              "O",
              "C"
            ]
          },
          "isbackorder": {
            "type": "boolean",
            "description": "onko tilaus jälkitoimituksena"
          },
          "orderrows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderRow"
            }
          }
        }
      },
      "Shipment": {
        "title": "Shipment",
        "type": "object",
        "properties": {
          "shipmentid": {
            "type": "string"
          },
          "cardcode": {
            "type": "string"
          },
          "receivername": {
            "type": "string"
          },
          "receiverstreet": {
            "type": "string"
          },
          "receiverstreetno": {
            "type": "string"
          },
          "receivercity": {
            "type": "string"
          },
          "receiverzipcode": {
            "type": "string"
          },
          "receivercountrycode": {
            "type": "string"
          },
          "waybillnumber": {
            "type": "string"
          },
          "datecreated": {
            "type": "string"
          },
          "shipmentpacks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShipmentPack"
            }
          }
        }
      },
      "Item": {
        "title": "Item",
        "type": "object",
        "properties": {
          "itemcode": {
            "type": "string"
          },
          "itemname": {
            "type": "string"
          },
          "onhand": {
            "type": "number"
          },
          "expirationdateonsale": {
            "type": "string",
            "format": "date"
          },
          "availablefrom": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "OrderRow": {
        "title": "OrderRow",
        "type": "object",
        "properties": {
          "itemcode": {
            "type": "string",
            "description": "tuotenumero"
          },
          "description": {
            "type": "string",
            "description": "tuotteen kuvaus"
          },
          "quantity": {
            "type": "number",
            "description": "määrä"
          },
          "openquantity": {
            "type": "number",
            "description": "avoin määrä (jälkitoimitusmäärä)"
          },
          "unitprice": {
            "type": "number",
            "description": "yksikköhinta"
          },
          "discount": {
            "type": "number",
            "description": "alennus-%"
          },
          "unitnetprice": {
            "type": "number",
            "description": "alennettu yksikköhinta"
          },
          "linetotal": {
            "type": "number",
            "description": "rivin veroton loppusumma"
          },
          "vatpercent": {
            "type": "number",
            "description": "veroluokka"
          },
          "linestatus": {
            "type": "string",
            "enum": [
              "O",
              "C"
            ],
            "description": "rivin tila (avoin/suljettu)"
          }
        },
        "x-examples": {
          "example": {
            "itemcode": "",
            "description": "",
            "quantity": 10,
            "openquantity": 5,
            "unitprice": 1,
            "discount": 50,
            "unitnetprice": 0.5,
            "linetotal": 5,
            "vatpercent": 24,
            "linestatus": "O"
          }
        }
      },
      "ShipmentPack": {
        "title": "ShipmentPack",
        "type": "object",
        "properties": {
          "packid": {
            "type": "string"
          },
          "packtypename": {
            "type": "string"
          },
          "weight": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "packno": {
            "type": "string"
          },
          "sscc": {
            "type": "string"
          },
          "packlines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShipmentPackLine"
            }
          }
        }
      },
      "ShipmentPackLine": {
        "title": "ShipmentPackLine",
        "type": "object",
        "properties": {
          "packlineid": {
            "type": "string"
          },
          "itemcode": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "quantityordered": {
            "type": "string"
          },
          "batch": {
            "type": "string"
          },
          "expdate": {
            "type": "string"
          },
          "unitpriceexvat": {
            "type": "string"
          },
          "discountpercent": {
            "type": "string"
          },
          "vatpercent": {
            "type": "string"
          },
          "orderno": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}